# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.env
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/cio_icons/
media/cio_banners/
media/cio_about_images/
media/post_images/
/media/profile_pics/*
!media/profile_pics/default.jpg
/media/comment_images/*
/media/direct_message_images/*

# Testing
.coverage
htmlcov/
.pytest_cache/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# VS Code
.vscode/

# JetBrains (PyCharm, etc.)
.idea/
