# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.env
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# VS Code
.vscode/

# JetBrains (PyCharm, etc.)
.idea/