<tr class="cio-request-row" data-request-id="{{ join_request.id }}">
    <td>
        <div class="cio-member-name-cell">
            <img src="{{ join_request.image_url }}" alt="{{ join_request.display_name }}" class="cio-member-avatar">
            <div class="cio-member-identity">
                <span class="cio-member-full-name">{{ join_request.display_name }}</span>
                <span class="cio-member-username">@{{ join_request.username }}</span>
            </div>
        </div>
    </td>
    <td>{{ join_request.created_label }}</td>
    <td class="cio-request-actions-cell">
        <form method="POST" action="{% url 'accept-request' join_request.id %}" data-cio-request-accept-form>
            {% csrf_token %}
            <button type="submit" class="discussion-action-btn discussion-action-btn-primary">Accept</button>
        </form>
    </td>
</tr>
