{% extends "base_role_admin.html" %}

{% block content %}
<div class="container">
    <h2>CIOs</h2>

    <form method="GET" class="search-shell mb-3">
        <div class="search-input-shell" id="globalSearchInputShell">
            <input
                    type="text"
                    name="q"
                    value="{{ query }}"
                    placeholder="Search CIOs"
                    class="search-bar"
            >
        </div>
    </form>

    <div class="card overflow-hidden" style="border-radius: 24px;">
        <div class="card-body p-0">
            <table class="table table-hover mb-0 custom-user-table">
                <thead style="border-top: none;">
                <tr>
                    <th style="padding-top: 30px; padding-bottom: 5px;">CIO</th>
                    <th style="padding-top: 30px; padding-bottom: 5px;">Manage</th>
                </tr>
                </thead>

                <tbody>
                {% for cio in cios %}
                <tr>
                    <td>{{ cio.name }}</td>
                    <td class="align-middle">
                        <div>
                            <a href="{% url 'role_admin_cio_detail' cio.id %}"
                               class="nav-btn tooltip-bottom"
                               data-tooltip="Manage CIO Members">
                                <i data-lucide="square-pen"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No CIOs found</td>
                </tr>
                {% endfor %}
                </tbody>
    </table>
</div>
{% endblock %}
