{% load socialaccount %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/login.css' %}">

</head>
<body>

<div class="container">
    <div class="logo">
        <img src="{% static 'users/logo_black.png' %}" alt="Logo">
    </div>

    <div class="logo-embellishment">
        <img src="{% static 'users/logo_embellishments_black.png' %}" alt="Logo Embellishment">
    </div>

    <div class="title">
        Your CIO workspace.
    </div>
    <div class="email-text">
        <span>Sign in to your clubstrate email</span>
    </div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="email" value="{{ identifier|default:'' }}" placeholder="Email or username" required
               class="input-field">
        <input type="password" name="password" placeholder="Password" required class="input-field">

        <button type="submit" class="continue-btn">Continue</button>
    </form>
    <div class="divider">or continue with</div>
    <!-- See https://developers.google.com/identity/branding-guidelines to get Google branding-->
    <!-- Google login button -->
    <div class="google-wrapper">
        <button class="google-icon-btn"
                onclick="window.location.href='{% provider_login_url 'google' %}'">
            <img src="{% static 'users/google_logo.png' %}" alt="Google">
            <div class="icon-text">Google</div>
        </button>
    </div>

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}

    <div class="bottom-text">Don't have an account? <a href="{% url 'register' %}">Sign up</a>
    </div>
</div>
</body>
</html>