{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/register.css' %}">
    <title>Sign Up</title>
</head>

<body>
<div class="container">
    <div class="logo">
        <img src="{% static 'users/logo_black.png' %}" alt="Logo">
    </div>
    <div class="logo-embellishment">
        <img src="{% static 'users/logo_embellishments_black.png' %}" alt="Logo Embellishment">
    </div>
    <div class="title">clubstrate: your CIO workspace.</div>
    <div class="email-text">Sign up with your email</div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" value="{{ name }}" placeholder="Name" required class="input-field">
        <input type="email" name="email" placeholder="Email" required class="input-field">
        <input type="password" name="password" value="{{ password }}" placeholder="Password" required class="input-field">
        <button class="continue-btn">Continue</button>
    </form>
    <div class="divider">or continue with</div>
    <div class="google-wrapper">
        <form method="post" action="{% provider_login_url 'google' %}">
            {% csrf_token %}
            <button type="submit" class="google-icon-btn">
                <img src="{% static 'users/google_logo.png' %}" alt="Google">
                <div class="icon-text">Google</div>
            </button>
        </form>
    </div>

    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}

    <div class="bottom-text">Already have an account? <a href="{% url 'login' %}">Login</a>
    </div>
</div>
</body>
</html>