body {
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.logo img {
    height: 50px;
    margin-bottom: 20px;
}

.title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0px;
}

.email-text {
    font-size: 26px;
    margin-bottom: 10px;
}

.continue-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #111;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    box-sizing: border-box
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #888;
    font-size: 12px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #e0e0e0;
    margin: 0 10px;
}

.flex-info {
    width: 49.4%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
    box-sizing: border-box;
    flex-direction: row;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
    box-sizing: border-box
}


.google-wrapper {
    display: flex;
    justify-content: center;
}

.google-icon-btn {
    width: 120px;
    height: 72px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.google-icon-btn img {
    width: 20px;
    height: 20px;
}

.google-icon-btn:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.icon-text {
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
}

.bottom-text {
    margin-top: 20px;
    color: #000000;
    font-size: 13px;
}

.bottom-text a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.bottom-text:hover {
    opacity: 1;
    text-decoration: underline;
}