<!--
# Source
# Description: User profile model and profile picture handling
# Source: Adapted from Corey Schafer's Django Tutorial Series
#   Video: "Python Django Tutorial: Full-Featured Web App Part 8 - User Profile and Picture"
#   (https://www.youtube.com/watch?v=FdVuKt_iuSI)
#   GitHub: https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/08-Profile-And-Images/django_project/blog/templates/blog/base.html
# Notes: Tweaked the code to fit our project
-->

{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Your project CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    <link rel="stylesheet" href="{% static 'cios/landing.css' %}">

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">
                <img src="{% static 'users/logo.png' %}" class="nav-logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">

                <!-- Left side -->
                <div class="navbar-nav mr-auto">
                    {% if user.is_authenticated and user.role == "user_admin" %}
                        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'create_cio' %}">Create CIO</a>
                    {% endif %}
                </div>

                <!-- Right side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% if user.role == "user_admin" %}
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        {% endif %}

                        <form method="post" action="{% url 'logout' %}" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="nav-item nav-link logout-btn">Logout</button>
                        </form>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </nav>
</header>

<main role="main">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</main>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>